@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


header {
  z-index: -1;
  /* background-color: aliceblue; */
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 340px;
  padding: 1rem 2rem;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  text-align: center;
}

.headerTitle {
  display: inline-block;
  font-size: 4rem;
}

.headerLink {
  margin-top: 75%;
}

nav {
  width: 80%;
  margin: auto;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  

}

body {
  background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}

.container {
  z-index: 1;
}

.viewContainer {
  font-family: 'Shadows Into Light', cursive;
  color: #8516A0;
}

.linksContainer {
  margin-top: 10%;
  text-decoration: none;
  font-size: 1.5rem;
  color: #A01631;
}

.linksContainer a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #A01631;
}

.linksContainer a:hover {
  text-transform: uppercase;
  color: #A01631;
  text-decoration: overline;
}

.catList {
  color: #8516A0;
  font-size: 1.5rem;
  list-style:decimal;
  text-decoration: none;
}

.catList:hover {
  text-decoration: overline;
  color: #8516A0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: aliceblue;
}
