@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&family=Shadows+Into+Light&display=swap');


header {
  z-index: -1;
  /* background-color: aliceblue; */
  /* margin: auto; */
  width: 100%;
  height: auto;
  max-height: 240px;
  padding: 1rem 2rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  text-align: center;
}

#homeHeader {
  height: auto;
  width: 80%;
  background-image: url(https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 15%;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

#homeTitle {
  /* margin-top: 5%;
  margin-bottom: 40%; */
  padding-top: 40%;
  padding-left: 1rem;
  margin-left: 0;
  color: #fff;
}

#homeSubTitle {
  padding-left: 1rem;
}

#homeHTML, body#homeBody, #homeContainer {
  background: #AEB0AB;
}

#homebody {
  margin-top: 5%;
  top: 0;
}

.homeNavContainer {
  border-radius: 0 0 1rem 1rem;
}

nav {
  width: 100%;
  margin: auto;

}

.nav-item1-home {
  padding-left: 0;
  margin-left: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 2rem;
  color: #16A085;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container-fluid {
  display: flex;
  justify-content:flex-start;
  padding: 0 1rem;
}

.navbar-nav {
  /* margin-left: 30%; */
  display: flex;
  align-items: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin: auto;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}

body {
  /* background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); */
  font-family: 'Roboto Condensed', sans-serif; 
  background-color: #AEB0AB;
  background-image: url(https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.button-30, input.homeLink {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: block;
  font-family: "JetBrains Mono",monospace;
  height: 3rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin-bottom: .2rem;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: .9rem;
  width: fit-content;
}


.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover, input.homeLink:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  color: black;
}

.button-30 a {
  text-decoration: none;
  color: black;
}

.container {
  z-index: 1;
}

h1, h2, h3, h4 {
  margin-bottom: 5%;
  font-family: 'Roboto Mono', monospace;
}

#welcome {
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif; 
}

#newGearSubmit {
  margin-left: 1rem;
}

.homeLink {
  font-family: 'Roboto Mono', monospace;
  font-size: .9rem;
  color: black;
}

a.homeLink:hover {
  color: #36395A;
}

.createGearForm {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.25rem;
  width: 40%;
  background-color: #fff;
  margin-right: 0;
  border-radius: 20rem 0 0 20rem;
  color: black;
  padding-right: 0;
  margin-bottom: .5rem;
}

input, select {
  font-size: 1.25rem;
  width: 50%;
  background-color: #fff;
  margin-left: 0;
  margin-bottom: .5rem;
  border-radius: 0 20rem 20rem 0;
  color: black;
  padding-left: 0;
}

.formRow {
  margin: auto;
}

.addNewBtn {
  border-radius: 20rem;
  background-color: #e5e5e5;
  width: fit-content;
  justify-self: center;
  display: block;
  color: #A01631;
  margin-top: 5%;
  border: none;
  padding: .2rem .3rem;
}

.labelSpan {
  text-align: center;
  width: 50%;
}

.viewContainer {
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif; 
  background-color: #fff;
  border-radius: 1rem;
  opacity: 0.75;
  padding: 0.5rem;
  width: 80%;
  margin: auto;
}

div.viewContainer.row {
  width: fit-content;
}

form {
  display: inline-block;
}

.linksContainer {
  text-decoration: none;
  font-size: .75rem;
  width: fit-content;
  
}

.linksContainer a {
  text-decoration: none;
  filter: drop-shadow(5px 5px 5px #666666);
  padding: .2rem .3rem;
  background-color: #e5e5e5;
  border-radius: 20rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

.linksContainer a:hover {
  color: #A01631;
  filter: none;
}

#homeSeeCat a {
  text-decoration: none;
  color: #A01631;
  filter: drop-shadow(5px 5px 5px #666666);
  padding: .2rem .3rem;
  background-color: #e5e5e5;
  border-radius: 20rem;
}

#homeSeeCat a:hover {
  color: #A01631;
  filter: none;
}

.viewList {
  list-style: decimal;
  margin-bottom: 2%;
}
.viewList a {
  font-size: 1.25rem;
  width: fit-content;
  padding: .2rem .3rem;
  margin-bottom: 4%;
  border-radius: 20rem;
  color: black;
  text-decoration: none;
  filter: drop-shadow(5px 5px 5px #929292);
}

.viewList a:hover {
  color: #36395A;
  filter: none;
}

.createGearForm {
  display: flex;
  flex-direction: column;
}

span.gearDetail {
  font-size: 1.7rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: #e5e5e5;
}
