@{
  Layout = "_Layout";
}

@using HikingGear.ViewModels

@model LoginViewModel
<div class="viewContainer">
  <h2>Log in with your account</h2>
  <hr />
  @using (Html.BeginForm())
  {
      <span class="labelSpan">@Html.LabelFor(m => m.Email)</span>
      @Html.TextBoxFor(m => m.Email)

      <span class="labelSpan">@Html.LabelFor(m => m.Password)</span>
      @Html.PasswordFor(m => m.Password)

      <input type="submit" value="Log in" class="btn btn-default homeLink" />
  }
</div>