@{
  Layout = "_Layout";
}

@model HikingGear.Models.Gear
<div class="viewContainer">
  <h2>Confirm deletion of @Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Name)</h2>
  <hr />


  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="homeLink"/>
  }
  <button class="button-30">@Html.ActionLink("Back to List", "Index")</button>
</div>