@{
  Layout = "_Layout";
}

@using HikingGear.Models;
@model List<HikingGear.Models.Gear>;

<h1>Items of gear</h1>

@if (@Model.Count == 0)
{
  <h3>No gear has been added yet!</h3>
} 

@foreach (Gear gear in Model)
{
  <li>@Html.ActionLink($"{gear.Name}" , "Details", new { id = gear.GearId })</li>
}

<p>@Html.ActionLink("Add new gear", "Create")</p>
<p>@Html.ActionLink("Back to Categories List", "Index", "Categories")</p>