@{
  Layout = "_Layout";
}

@using HikingGear.Models;
@model List<HikingGear.Models.Gear>;

<div class="viewContainer">
  <h1>Gear for @User.Identity.Name</h1>

  <div class="row">
    @if (Model.Any())
    {
      <li class="viewList">@Html.ActionLink($"{gear.Name}" , "Details", new { id = gear.GearId })</li>
    } 
    <div class="col-md-6">
      @foreach (Gear gear in Model)
      {
        <h3>No gear has been added yet!</h3>
      }
    </div>
    <div class="col-md-4">
      <button class="button-30">@Html.ActionLink("Add new gear", "Create")</button >
      <button class="button-30">@Html.ActionLink("Back to Categories List", "Index", "Categories")</button >
    </div>
  </div>
</div>