<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hiking Gear Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <nav class="">
            <div class="container row">
                <div class="col-md-6">
                <h4 class="headerTitle">Hiking Gear Inventory</h4>
                </div>
                <div class="col-md-2">
                    <a class="headerLink" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <!-- <div class="col-md-2">
                    <a class="headerLink" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div> -->
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!-- <img src="~/img/tentSunset.jpg" class="indexBackdrop"> -->
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Gear Database - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
