@{
  Layout = "_Layout";
}

<div class="text-center">
  <h1 class="display-4">Hiking Inventory </h1>
  <p>@Html.ActionLink("See all gear items", "Index", "Gears")</p> <p>@Html.ActionLink("See all gear categories", "Index", "Categories")</p>
</div>
