@{
    Layout = null;
 }
<!DOCTYPE html>
<html lang="en" id="homeHTML">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Gear Cave</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body id="homeBody">
  <div class="container" id="homeContainer">
    <div id="homeHeader">
      <h1 id="homeTitle">The Gear Cave</h1>
      <h5 id="homeSubTitle">Inventory | Plan | Adventure</h5>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 homeNavContainer">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item nav-item1-home">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">  Gear Categories   </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Gears" asp-action="Index">   Gear List   </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">   Upcoming Trips   </a>
                            </li>
                            <li class="nav-item nav-item1-home">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">  Register   </a>
                            </li>
                            <li class="nav-item nav-item1-home">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">  Login  </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
  </div>
</body>
</html>
