@{
  Layout = "_Layout";
}

<div class="viewContainer">
  <div class="text-left">
    <h1 class="display-4">Welcome back!</h1>
    <div id="homeSeeCat">
      <p>@Html.ActionLink("See gear categories", "Index", "Categories", null, new {@class = "homeLink"})</p>
    </div>
  </div>
</div>
