@{
  Layout = "_Layout";
}

@model HikingGear.Models.Category
<div class="viewContainer">
  <h2>Confirm Deletion of @Html.DisplayFor(model => model.Name)</h2>
  <hr />
  
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="homeLink"/>
  }
  <button class="button-30">@Html.ActionLink("Back to Category List", "Index")</button>
</div>