@{
  Layout = "_Layout";
}

@model HikingGear.Models.Category

<h2>Confirm deletion of hiking gear category</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Category List", "Index")