@{
  Layout = "_Layout";
}

@using HikingGear.Models;

<div class="viewContainer">
  <h1>Gear Categories</h1>
    <div class="row">
      <div class="col-sm">
        @if (@Model.Count == 0)
        {
          <h3>No gear categories, add some ya goof!</h3>
        } 

        <ul>
          @foreach(Category category in Model)
          {
            <li class="catList">@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId }, new {@class = "catList"})</li>
          }
        </ul>
      </div>
      <div class="col-sm">
        <button class="button-30">@Html.ActionLink("Add new category", "Create", null, null, new {@class = "homeLink"})</button>
        <button class="button-30">@Html.ActionLink("See all gear items", "Index", "Gears", null, new {@class = "homeLink"})</button>
      </div>
    </div>
</div>