@{
  Layout = "_Layout";
}

@using HikingGear.Models;
@model IEnumerable<HikingGear.Models.Category>

<div class="viewContainer">
  <h1>Gear Categories @User.Identity.Name</h1>
    <div class="row">
      <div class="col-md-6">
        @if (Model.Any())
        {
          <ul>
            @foreach(Category category in Model)
            {
              <li class="viewList">@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId }, new {@class = "catList"})</li>
            }
          </ul>
        }
        else 
        {
          <h3>No gear categories, add some ya goof!</h3>
        }
      </div>
      <div class="col-md-4">
        <button class="button-30">@Html.ActionLink("Add new category", "Create", null, null, new {@class = ""})</button>
        <button class="button-30">@Html.ActionLink("See all gear items", "Index", "Gears", null, new {@class = ""})</button>
      </div>
    </div>
</div>